#title {
  text-align: center;
  font-family: arial, bold;
  color: rgb(249, 243, 223);
}
/*body {
  background: url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}*/

