body {
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
	position: relative;
    z-index: 99;
}

#header, #footer, #top, #middle {
	background-color: #1f2937;
	color: #f9faf8;
	display: flex;
	padding-right: 10%;
	padding-left: 10%;
	margin: 0;
	border: 0;
	position: relative;
    z-index: 99
}


#header {
	padding-top: 18px;
	padding-bottom: 18px;
	width: 80%;
	justify-content: space-between;
	position: fixed;
    z-index: 999;
}

#filler-top {
	padding-top: 18px;
	padding-bottom: 18px;
}

#top {
	justify-content: space-between;
	padding-top: 55px;
	padding-bottom: 55px;
}

#middle {
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	background-color: #f9faf8;
	height: 100%;
	position: relative;
    z-index: 99;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 5%;
}

#container-with-box {
	background-color: #f9faf8;
	height: auto;
	position: relative;
    z-index: 99;
	padding: 95px 15%;
}

#quote {
	display: flex;
	flex-direction: column;
	background-color: #e5e7eb;
	padding: 125px 20%;
	gap: 10px;
}

#footer {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1% 0;
}

.hero-header {
	font-weight: bolder;
	font-size: 24px;
}

.hero-secondary .hero-secondary-but {
	font-size: 18px;
	color: #e5e7eb;
}

.hero-secondary-but:visited {
	color: #e5e7eb;
	text-decoration: none;
}

.hero-secondary-but:link {
	color: #e5e7eb;
	text-decoration: none;
}

.hero-secondary-but:hover {
	color: #3882f6;
	text-decoration: none;
}

button:hover {
	background-color: #005ff7;
	border-color: #005ff7;
}

.small-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 15px;
	padding: 5px;
	padding-left: 0;
	padding-right: 0;
}

.top-div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: left;
}

.information {
	font-weight: bolder;
	font-size: 36px;
	color: #1f2937;
	text-align: center;
	padding: 45px 0;
}

.hero {
	font-family: extra-bold;
	font-size: 48px;
}

.my-images {
	display: flex;
	direction: row;
}

button {
	padding: 10px 15px;
	width: 100%;
	max-width: 170px;
	color: #e5e7eb;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bolder;
	font-size: 16px;
	background-color: #3882f6;
	border-style: solid;
	border-color: #3882f6;
	border-radius: 10px;
	margin: 0;
	font-family: arial;
}

img {
	width: 45%;
	height: 45%;
}

.my-images {
	display: flex;
	flex-direction: row;
	gap: 25px;
}

.image-with-border {
	border-style: solid;
	border-color: #3882f6;
	border-radius: 10px;
	width: 100%;
	height: 80%;
}

.img-descr {
	text-align: center;
	color: #4b5563;
}

.img-intern {
	width: 100%;
	height: auto;
}

.quote-text {
	font-size: 36px;
	font-style: italic;
	text-align: right;
	color: #1f2937;
}

.quote-auth {
	text-align: right;
	font-size: 36px;
}

.content-box {
	display: flex;
	justify-content: space-between;
	border-style: solid;
	border-color: #3882f6;
	background-color: #3882f6;
	border-radius: 10px;
	color: #e5e7eb;
	width: 100%;
	padding: 50px 5%;
}

#but2 {
	border-color: #e5e7eb;
}